
/*+++++++++++++++++++
***Note that float fix is applied to the parent of the elements where float was used on. In this case, row.
FLOAT FIX */
.row:before,
.row:after {
	content: " ";
	display: table;
}
.row:after {
	clear: both;
}
/*+++++++++++++++++++*/

.container {
    width: 1210px;
    height: 250px;
    margin: 0 auto;
    margin-top: 10px;
    /* background-color: darkolivegreen */
}

.container .row {
    width: 1210px;
    height: 800px;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle; 
    position: relative;
}
.container #aboutme {
    height: 750px;
}
.container-fluid {
    height: 680px;
    margin-top: 10px;
}

.row {
    margin-bottom: 50px;
}

.container-fluid .row {
    width: 1170px;
    height: 300px;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
.container-fluid .row img{
    width: 360px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.col-4 {
    width:360px;
    height: 800px;
    float: left;
    margin: 0 15px;
}

.button {
    margin-left: 110px;
    margin-right: auto;
}

.col-6 {
    width:555px;
    height: 270px;
    float: left;
    margin: 0 15px;
    padding-left: 100px;
    padding-right: 100px;
}
#category .col-6 {
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle; 
}
#aboutme .col-6 {
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

