
/*+++++++++++++++++++

/* BOX MODEL FIX */
html {
    box-sizing: border-box;
   }
   *, *:before, *:after {
    box-sizing: inherit;
   }

/* CLEAR FIX */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
/*+++++++++++++++++++*/

@-ms-viewport {
	width: device-width;
}
@viewport {
	width: device-width;
}

#nav-sm {
  display: none;
}
#nav-lg {
  display: none;
}

@media only screen and (min-width: 1px) and (max-width: 991px) {
  header .inner {
    display: none;
  }
  #nav-sm {
    display: block;
  }
  #about {
    height: 900px;
    margin-top: 20px;
    margin-bottom: 150px;
    background-color: #4C443C;
    display: flex; 
    justify-content: center; 
    align-items: center;
  }
  #first-container {
    margin-top: 50px;
  }
  .secondary header {
    min-height: 160px;
    line-height: 100px;
  }
}

@media only screen and (min-width: 992px){
  header .inner {
    position: absolute;
    z-index: 10;
    top: 50px;
    margin-left: 20px;
  }
  #nav-lg {
    display: block;
  }
  #about {
    height: 600px;
    margin-top: 20px;
    margin-bottom: 150px;
    background-color: #4C443C;
    display: flex; 
    justify-content: center; 
    align-items: center;
  }
  #first-container{
    margin-top: 100px;
  }
  .secondary header {
    height: 150px;
  }
}
header {
  color: white;
  background-color: #1C1C1C;
}

header h1 {
  margin-left: 80px;
  text-align: center;
}
header li {
  color: white;
  display: inline; 
  padding: 20px;
}
a {
  text-decoration: none;
  color: white;
}
header li a:visited {
  color: white;
}
header li a:hover{
  color: tan;
  cursor: pointer;
}
nav {
  text-align: right;
  position: absolute;
  top: 70px;
  right: 9.75%;
}
.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='tan' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler.navbar-toggler {
  border-color: tan;
} 
.container-fluid div section {
  display: flex; 
  justify-content: center; 
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

#about div section {
  display: flex; 
  justify-content: center; 
  align-items: center;
  margin-bottom: 50px;
}
#about h1 {
  color: burlywood;
  text-align: center;
}
#about p {
  text-align: center;
  color: white;
}
#about img {
  border-radius: 200px;
}

#category h1 {
  text-align: center;
}
#category div div {
  margin-top: 50px;
}
p {
  margin-bottom: 50px;
}
.button {
  font-size: 80%;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #501404;
  color: white;
  text-decoration: none;
  display: table;
  margin: 0 auto;
}
.button:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}
#profile {
  position: absolute;
  bottom: 5px;
  left: 250px;
  z-index: 5;
}
#jumbotron {
  background-image: url("../images/jumbotron.jpg");
  background-size: cover;
  height: 750px;
  /* margin-top: 50px; */
  margin-bottom: 100px;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: #1C1C1C;
  margin-top: 100px;
  height: 200px;
  color: white;
}
.footer-content h1 {
  margin-top: 80px;
}