/*+++++++++++++++++++

/* BOX MODEL FIX */
html {
    box-sizing: border-box;
   }
   *, *:before, *:after {
    box-sizing: inherit;
   }

/* CLEAR FIX */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
/*+++++++++++++++++++*/

@-ms-viewport {
	width: device-width;
}
@viewport {
	width: device-width;
}

#nav-sm {
    display: none;
}
#nav-lg {
    display: none;
}

@media only screen and (min-width: 1px) and (max-width: 991px) {
  header .inner {
    display: none;
  }
  #nav-sm {
    display: block;
  }

  header .navbar-toggler {
      margin-left: 100%;
  }
  .navbar-nav {
    text-transform: uppercase;
    display: inline;
  }
  .navbar-nav > li{
    margin-left:30px;
    margin-right:30px;
    padding-left:30px;
  padding-right:30px;
  }
  .navbar ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap; /* assumes you only want one row */
  }
  .head {
      height: 100px;
  }
  .description {
    width: 100%;
    height: 300px;
    background-color: #4C443C;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0px 80px 0px;
    position: absolute;
    top: 500px;
}
#contact-details h5, p {
    text-align: center;
}
#contact-form h5 {
    text-align: center;
}
#contact-box p {
    text-align: left;
}
#product-service img {
    width: 100%;
    height: 100%;
    max-height: 400px;
    filter: brightness(80%);
    margin-top: 80px;
}
#product-service h1 {
    color: white;
    text-align: center;
    font-size: 400%;
    margin-top: -400px;
    z-index: 10;
}
#offset-box {
    top: 400px;
    border: 8px solid white;
    background-color: #1C1C1C;
}
#footer-content {
    text-align: center;
    background-color: #1C1C1C;
    margin-top: 100px;
    height: 700px;
    color: white;
}
  
}

@media only screen and (min-width: 992px){
  #nav-lg {
    display: block;
  }

  .description {
    width: 50%;
    height: auto;
    background-color: #4C443C;
    display: flex;
    justify-content: center;
    align-items: center;
}
#product-service img {
    width: 100%;
    height: 100%;
    max-height: 700px;
    filter: brightness(80%);
}
#product-service h1 {
    color: white;
    text-align: center;
    font-size: 400%;
    margin-top: -300px;
    z-index: 10;
}
#offset-box {
    top: 300px;
    right: 150px;
    border: 8px solid white;
    background-color: #1C1C1C;
}
#footer-content {
    text-align: center;
    background-color: #1C1C1C;
    margin-top: 100px;
    height: 300px;
    color: white;
}
}

header .logo {
    position: absolute;
    z-index: 10;
    top: 30px;
    width: 100px;
    height: 100px;
  }

header li {
    color: white;
    display: inline; 
    padding: 20px;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: white;
}
header li a:visited {
    color: white;
}
header li a:hover{
    color: tan;
    cursor: pointer;
}
nav {
    text-align: right;
    position: absolute;
    top: 100px;
    right: 9.75%;
}
.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='tan' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler.navbar-toggler {
    border-color: tan;
} 
.head {
    height: 0px;
}
.button {
    font-size: 80%;
    width: 180px;
    text-align: center;
    padding: 12px;
    background-color: #501404;
    color: white;
    text-decoration: none;
    display: table;
    margin: 0 auto;
  }
  .button:hover {
    background-color: tan;
    color: white;
  }

.break {
    height: 12px;
    width: 200vw;
    background-image: url("../images/break.svg");
}
.container-fluid div section {
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.jumbotron {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5) ), url("../images/jumbotron.jpg");
    background-size: cover;
    height: 750px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center; 
    align-items: center;
}
.jumbotron h1 {
    width: 400px;
    margin: 0 auto;
    color: white;
    padding: 20px;
    border: 4px solid white;
    text-align: center;
}
.jumbotron h5 {
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
#product-service {
    max-height: 700px;
    margin-top: 20px;
    margin-bottom: 50px;
    position: relative;
}
#product-service p {
    color: white;
    text-align: left;
}

#gallery {
    margin-top: 200px;
    margin-bottom: 100px;
}
#gallery h1 {
    text-align: center;
}
#gallery img {
    width: 300px;
    height: 300px;
    margin: 30px;
}
#gallery .row section{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#gallery .adj-1 h1 {
    text-align: left;
    margin-left: 120px;
}
#gallery .adj-2 h1 {
    text-align: center;
}
#gallery .adj-3 h1 {
    text-align: right;
    margin-right: 100px;
}
#call-to-action div {
    text-align: center;
    margin: 20px;
}

#footer-content #logo {
    width: 100px;
    height: 100px;
}
#footer-content img {
    width: 40px;
    height: 40px;
}
#footer-content li {
    margin-right: 20%;
    text-decoration: underline;
}
#footer-content a:hover {
    color: tan;
}

/* PRODUCTS PAGE */
#product-jumbotron {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5) ), url("../images/products_jumbotron.jpg");
    background-size: cover;
}

.inner-description {
    height: 300px;
    background-color: #4C443C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-description h2 {
    text-align: center;
    color: white;
}

#featured-products {
    margin-bottom: 150px;
}
#featured-products img {
    width: 400px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#featured-products p,h4 {
    text-align: center;
    color: #501404;
}

/* SERVICES PAGE */
#service-jumbotron {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5) ), url("../images/services_jumbotron.jpg");
    background-size: cover;
}

#featured-projects {
    margin-bottom: 150px;
}
#featured-projects .main-pic img {
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#featured-projects .sub-pic img {
    width: 400px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
#featured-projects p {
    margin-top: 50px;
    text-align: center;
    color: #501404;
}

/* ABOUT PAGE */
#about-jumbotron {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5) ), url("../images/about.jpg");
    background-size: cover;
}

#who-we-are {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 800px;
    text-align: center;
    color: white;
}

.row h2 {
    color: tan;
}

#who-we-are div {
    position: relative;
    height: 100%;
    width: 100%;
    margin-top: 100px;
}

#who-we-are img {
    height: 500px;
    width: 600px;
}

.boxes {
    position: absolute;
    height: 400px;
    width: 600px;
    z-index: 10;
}

#inner-offset-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CONTACT PAGE */
#contact-jumbotron {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5) ), url("../images/contact.jpg");
    background-size: cover;
}

#contact-form {
    height: 1000px;
    margin-top: 50px;
}

#contact-box {
    background-color: #4C443C;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 10px 40px 10px 40px;
}

#contact-box label {
    color: tan;
    font-size: 120%;
}

input {
    width: 70%;
    display: block;
    margin-top: 20px;
}

#message {
    height: 200px;
    width: 100%;
}